.footer {
    background-color: #2F2B4A;
    position: relative;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    color: white;
    display: flex;
}   
    .container {
        margin: 0 20.625rem;
        display: flex;
        flex-direction: column;
        hr {
            opacity: 30%;
        }
    }

        .footer_top {
            display: flex;
            justify-content: space-between;
            gap: 6.25rem;
            padding: 40px 0px;
    
            .footer_text_block {
                display: flex;

                flex-direction: column;

            .footer_text_title {
                margin-bottom: 1.25rem;
                color: white;
                font-size: 18px;
                font-weight: 400;
            }

            .footer_text_link {
                margin-bottom: 0.5rem;
                color: white;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
                transition: color 0.3s;
            }

            .footer_text_link:hover {
                color: #49C171;
            }
        }
    }

        .footer_support_service {
            display: flex;
            flex-direction: column;

            .support_button {
                display: flex;
                padding: 15px 20px;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                border: 0.063rem solid rgba(255, 255, 255, 1);;


                .support_button_icon {
                    display: flex;
                    margin-right: 10px;
                }

                .support_button_text {
                    display: flex;
                    flex-direction: column;
                    // padding: 15px 20px 15px 50px;
                    color: white;
                }

                .support_button_title{
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 2px;
                    color: white;
                    text-decoration: none;
                }

                .support_button_description{
                    text-decoration: none;
                    color: white;
                    transition: color 0.3s;
                    font-weight: 300;
                    font-size: 14px;
                }

                a:hover {
                    color: #49C171;
                }
            }
        }
        
        .status_icon {
            margin-right: 10px;
        }
        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(73, 193, 113, 0.3); 
            position: relative; 
          }
          .smaller_circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #49C171;
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
          }   
        
            .status {
                margin-top: 20px;
                display: flex;
                
                .status_icon {
                    margin-right: 10px;
                }
            }

    .footer_bottom {
        display: flex;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;

        .payment_methods {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.125rem;

            .payment_images {
                width: 100%;
                height: auto;
                align-items: center;
                display: flex;
                gap: 0.625rem;

            }
        }

        .footer_bottom_links {
            display: flex;
            align-items: center;
            gap: 1.875rem;
            .offerta a{
                text-decoration: none;
                color: white;
            }
            .confidency a{
                text-decoration: none;
                color: white;
                transition: color 0.3s;
            }
            a:hover {
                color: #49C171;
            }
        }
    }