.category_module {
    display: flex;
    align-items: center;
}

.container {
    margin: 40px 330px;
}
.categories_block {
    display: flex;
    flex-wrap: wrap;
}

.categories_block_content {
    width: 420px;
    height: 100px;
}