.homepage {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}   
    .homepage_container {
        margin: 30px 330px 40px 330px;
    }
        .homepage_baner {
            display: flex;
            align-items: center;
            
        }

        // прописать стили для главной страницы плюс медиа-запросы